.meuHeader {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.diplayFlex {
display: flex; 
}

.displayFlexMain {
flex: 1;
padding: 20px;
}

.aside {
  width: 200px;
  height: 100vh;
  background-Color: #f4f4f4;
  padding: 20px;
}

.App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

